@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

.root{
  -fx-font-family: 'Press Start 2P', cursive;
}
.startText{
  -fx-fill: white;
  -fx-text-fill: white;
}
.defaultPane{
  -fx-background-color: black;
}
.gameBrowserTable{
  -fx-cursor: hand;
  -fx-background-color: black;
  -fx-padding: 0;
}

.gridTile{
  -fx-border-color: #2e8b57;
  -fx-border-width: 2px;
}
