<%@taglib uri="http://java.sun.com/jsp/jstl/core" prefix="c"%>
<%@ page contentType="text/html; charset=UTF-8" %>
<c:set var="friendClass" value=""></c:set>
<c:if test="${s.isFriendly()}">
	<c:set var="friendClass" value="friendly"></c:set>
</c:if>
<div class="personCard ${friendClass }">
	<h2><span>${s.integer("id") }</span>.</h2>
	<h3>${s.fullName()}</h3>
	<h4>${messages.get("targets") }: <span>${s.target().fullName()}</span></h4>
	<h4>${messages.get("targetedBy") }: <span>${s.targetedBy().fullName()}</span></h4>
	<h4>${messages.get("names") }: <span>${s.nameCount() }</span></h4>
	<h4>${messages.get("kills") }: <span>${s.killCount() }</span></h4>
</div>